/*font-link:*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* common start */

body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common end */

/* header start */
header{
    padding: 30px 0;
    border: 1px solid;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
   border: 1px solid;
}
.logo{
    margin-top: 10px;
    float: left;
    width: 12%;
    /*border: 1px solid;*/
}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 60%;
    /*border: 1px solid;*/
}
.menu ul{
    float: right;
    list-style: none;

}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    margin: 0 55px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .33s linear;
}
.menu ul li:last-child a{
     margin-right: 0;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}
/* header end */

/* banner start */
.banner{}
.b_img{}
.b_img img{
    width: 100%;
}
/* banner end */
/* getway start */
.getway{
        padding: 100px 0;
    }
.container2{
        width: 80%;
        margin: 0 auto;
        border: 1px solid;
    }
.g_content{}
.light{
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }
.title{
        margin: 20px 0 30px;
        font-size: 30px;
        font-weight: 400;
    }
.text{
        margin: 0;
        line-height: 24px;
    }
.g_link{
        display: inline-block;
        margin-top: 40px;
        text-decoration: none;
        color: #626262;}
/* getway end */
/* blog start */
.blog{
    padding: 0 0 100px;
}
.bl_content{
    overflow: hidden;
}
.bl_item{
    float: left;
    width: 47%;
    border: 1px solid;
    box-sizing: border-box;
}
.bl_item:nth-child(even){
    margin-left: 6%;
}
.bl_img{
    margin-bottom: 20px;
}
.bl_img img{
    width: 100%;
}
/* blog end */